# API base URL – set this in Vercel for production
# No trailing slash
# VITE_API_URL=https://backend-theta-six-16.vercel.app
VITE_API_URL=http://127.0.0.1:8000
NEXT_PUBLIC_SUPABASE_URL=https://icgclmqwhslsguvbhhxx.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Pn7FJW2HQ3SJljfqOKzpKw_rQwwNvae